@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{font-family: 'Open Sans', sans-serif;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

h1{
    margin-bottom: 10px;
    text-align: center;
}

h3{
    margin-bottom: 2px;
    text-align: center;
}

h4{
    margin-bottom: 6px;

}

ul{
    margin-top: 4px;
    margin-bottom: 10px;
}

p{
    margin-top: 2px;
    margin-bottom: 2px;
}

th{
    text-align: left;
    font-weight: normal;
    font-style: italic;
    padding-right: 1rem;
}

